<div *ngIf="questionId < questions.length" class="question-wrapper">
  <p>{{appService.translate(questions[questionId].question)}}</p>
  <div [ngSwitch]="questions[questionId].type">
    <div *ngSwitchCase="'corresponding'" [formGroup]="answersMatch">
      <div *ngFor="let option of questions[questionId].options; let i = index; trackBy: trackByFn"
           class="match">
        <div class="match-option">{{appService.translate(option)}}</div>
        <div class="match-input">
          <input matInput
                 formControlName="{{i+1}}">
        </div>
        <div class="match-index">{{i + 1}}</div>
        <div class="match-answer">{{appService.translate(questions[questionId].answers[i])}}</div>
      </div>
    </div>
    <div *ngSwitchDefault>
      <div *ngFor="let option of questions[questionId].options; let i = index">
        <mat-checkbox (change)="answer($event, option, i)">
          <span>{{appService.translate(option)}}</span>
        </mat-checkbox>
      </div>
    </div>
    <div class="question-error">
      <div *ngIf="isError" class="question-error__content">
        {{appService.translate(questions[questionId].error_phrase)}}
      </div>
    </div>
  </div>
  <br/>
  <div class="question-actions">
    <button mat-stroked-button
            color="primary"
            (click)="submit()"
            [disabled]="isAnswered">
      {{appService.translate('answer')}}
    </button>
    <button mat-stroked-button
            color="primary"
            (click)="next()"
            [disabled]="!isAnswered">
      {{appService.translate('next')}}
    </button>
  </div>
</div>
<div *ngIf="questionId > questions.length - 1" class="quiz-result">
  <h2>{{appService.translate('result')}}</h2>
  <br/>
  <div>
    <span>{{appService.translate('result_message')}}</span>
    <span>{{getAssessment()}}</span>
  </div>
  <div>{{appService.translate('result_right_answers')}}: {{answersCounter}}/{{questions.length}}</div>
  <br/>
  <button mat-stroked-button
          color="primary"
          (click)="tryAgain()">
    {{appService.translate('result_try_again')}}
  </button>
</div>
